@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter, sans-serif);
}

@layer base {
  :root {
    /* 
     ===========================================
     VARIAVEIS GLOBAIS DE CORES (MODO CLARO)
     ===========================================
     Modificando a escala 'amber' diretamente nas 
     variáveis originais do Tailwind v4.
    */

    /* Escala Cyber Red */
    --color-amber-100: #ffe5eb;
    --color-amber-200: #ffb8cb;
    --color-amber-300: #ff8aab;
    --color-amber-400: #ff5c8b;
    --color-amber-500: #ff003c;
    --color-amber-600: #e60036;
    --color-amber-700: #b3002a;
    --color-amber-800: #80001e;
    --color-amber-900: #4d0012;
    --color-amber-950: #26000a;

    --color-neutral-950: #0a0a0a;
    /* Fundo/Texto pesado */
  }

  .dark {
    /* 
     ===========================================
     VARIAVEIS GLOBAIS DE CORES (MODO ESCURO)
     ===========================================
    */

    /* Fundo Principal no Modo Escuro (Preto Absoluto) */
    --color-neutral-950: #000000;
    --color-neutral-900: #0a0a0a;

    /* Superfícies dos Cards e Navbars escuros */
    --color-neutral-800: #121212;

    /* Bordas no Modo Escuro */
    --color-neutral-700: #262626;

    /* Escala Cyber Red no Dark Mode */
    --color-amber-100: #ffe5eb;
    --color-amber-200: #ffb8cb;
    --color-amber-300: #ff8aab;
    --color-amber-400: #ff5c8b;
    --color-amber-500: #ff003c;
    --color-amber-600: #e60036;
    --color-amber-700: #b3002a;
    --color-amber-800: #80001e;
    --color-amber-900: #4d0012;
    --color-amber-950: #26000a;
  }

  html {
    scroll-behavior: smooth;
  }
}