@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter, sans-serif);
}

@layer base {
  :root {
    /* 
     ===========================================
     VARIAVEIS GLOBAIS DE CORES (MODO CLARO)
     ===========================================
     Modificando a escala 'amber' diretamente nas 
     variáveis originais do Tailwind v4.
    */

    /* Transformando a Escala Dourada em Vermelho (Red) */
    --color-amber-100: #fee2e2;
    --color-amber-200: #fecaca;
    --color-amber-300: #fca5a5;
    --color-amber-400: #f87171;
    --color-amber-500: #ef4444; /* Nova Base Primária (Vermelho) */
    --color-amber-600: #dc2626; /* Novo Hover Primário */
    --color-amber-700: #b91c1c;
    --color-amber-800: #991b1b;
    --color-amber-900: #7f1d1d;
    --color-amber-950: #450a0a;

    --color-neutral-950: #0a0a0a; /* Fundo/Texto pesado */
  }

  .dark {
    /* 
     ===========================================
     VARIAVEIS GLOBAIS DE CORES (MODO ESCURO)
     ===========================================
    */

    /* Fundo Principal no Modo Escuro (Preto Absoluto) */
    --color-neutral-950: #000000; 
    --color-neutral-900: #0a0a0a; 
    
    /* Superfícies dos Cards e Navbars escuros */
    --color-neutral-800: #121212; 
    
    /* Bordas no Modo Escuro */
    --color-neutral-700: #262626; 

    /* Transformando a Escala Dourada em Vermelho no Dark Mode */
    --color-amber-100: #fee2e2;
    --color-amber-200: #fecaca;
    --color-amber-300: #fca5a5;
    --color-amber-400: #f87171; 
    --color-amber-500: #ef4444; 
    --color-amber-600: #dc2626; 
    --color-amber-700: #b91c1c;
    --color-amber-800: #991b1b;
    --color-amber-900: #7f1d1d;
    --color-amber-950: #450a0a;
  }

  html {
    scroll-behavior: smooth;
  }
}
